@font-face {
    font-family: 'firasans';
    src: url('../fonts/FiraSans/FiraSans-Regular.ttf') format('truetype'), 
        url('../fonts/FiraSans/FiraSans-Regular.eot') format('embedded-opentype'),
        url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff'),
        url('../fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
        url('../fonts/FiraSans/FiraSans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'firasans';
    src: url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype'),
        url('../fonts/FiraSans/FiraSans-Bold.eot') format('embedded-opentype'),
        url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
        url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
        url('../fonts/FiraSans/FiraSans-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'comorantgaramond';
    src: url('../fonts/CormorantGaramond/CormorantGaramond-Medium.ttf') format('truetype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Medium.eot') format('embedded-opentype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Medium.woff') format('woff'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Medium.woff2') format('woff2'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'comorantgaramond';
    src: url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.eot') format('embedded-opentype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff') format('woff'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'comorantgaramond';
    src: url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf') format('truetype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.eot') format('embedded-opentype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff') format('woff'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('../fonts/CormorantGaramond/CormorantGaramond-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'comorantgaramond';
    src: url('../fonts/CormorantGaramond/CormorantGaramond-Bold.ttf') format('truetype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Bold.eot') format('embedded-opentype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Bold.woff') format('woff'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Bold.woff2') format('woff2'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'comorantgaramond';
    src: url('../fonts/CormorantGaramond/CormorantGaramond-Regular.ttf') format('truetype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Regular.eot') format('embedded-opentype'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Regular.woff') format('woff'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Regular.woff2') format('woff2'),
        url('../fonts/CormorantGaramond/CormorantGaramond-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truytype'),
        url('../fonts/Lato/Lato-Bold.eot') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}